@font-face {
    font-family: 'FontInter';
    src: url(/src/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf) format('ttf'),
    url(/src/fonts/inter/Inter-VariableFont_opsz,wght.ttf) format('ttf');
}

:root {
    --main-color-one: #6E36F7;
    --main-color-two: #FFFFFF;
    --accent-color: #FF4D4D;
}

html, body {
    font-family: 'FontInter', sans-serif;
    background: #EFF1F4;
}

.container-header {
    background: #7413dc;
    padding: 10px;
}

.nav-menu ul {
    display: flex;
    gap: 30px;
    justify-content: end;
    font-size: 12px;
    color: var(--main-color-two);
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

.nav-menu a {
    color: var(--main-color-two);
    text-decoration: none;
}

.language:before {
    content: '🌐';
    font-size: 22px;
    padding-right: 5px;
}

.nav-menu-sections button {
    display: inline-flex;
    background: #8853dd;
    border-radius: 20px;
    font-size: 12px;
    border: none;
    padding: 8px 15px;
    margin: 1px 1px 15px 1px;
    font-weight: bold;
    color: var(--main-color-two);
    cursor: pointer;
}

.nav-menu-sections button:hover {
    background: var(--main-color-two);
    color: #000F;
}

.container-search {
    display: flex;
    flex-direction: row;
}

.container-search input {
    height: 50px;
}

.container-search button {
    background: var(--accent-color);
    border-radius: 5px;
    border: none;
    box-shadow: 1px -1px 1px #000F;
    color: var(--main-color-two);
    margin-left: 5px;
    padding: 0 20px;
    cursor: pointer;
}

.container-search button:active {
    box-shadow: none;
}

.difficult-route {
    color: #d5d8dc;
    opacity: 0.9;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.difficult-route:before {
    content: "🪑";
    margin-right: 8px;
}

.container-main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "line-1-1 line-1-2"
    "line-2-1 line-2-2"
    "line-3-1 line-3-2"
    "line-3-1 line-4-2";
}

.bus-tickets, .popular-destinations article, .top-airlines article, .frequently-asked-questions article, .manage-your-tickets-on-Telegram, .airline-ticket-hot-sales article {
    background: var(--main-color-two);
    border-radius: 5px;
    padding: 10px;
}


.manage-your-tickets-on-Telegram {
    grid-area: line-1-1;
}

.manage-your-tickets-on-Telegram ul {
    list-style: none;
    padding-inline-start: 0;
}

.manage-your-tickets-on-Telegram li {
    display: inline-block;
}

.manage-your-tickets-on-Telegram li:before {
    content: '✔';
    top: 0;
    left: 0;
    color: green;
}

.manage-your-tickets-on-Telegram button {
    background: #f8dcd6;
    border-radius: 5px;
    border: none;
    color: var(--accent-color);
    padding: 10px 20px;
    cursor: pointer;
}

.popular-destinations {
    grid-area: line-2-1;
}

.bus-tickets {
    grid-area: line-1-2;
}

.bus-tickets ul {
    list-style: none;
    padding-inline-start: 0;
}

.bus-tickets li {
    display: inline-block;
}

.bus-tickets li:before {
    content: '✔';
    top: 0;
    left: 0;
    color: green;
}

.bus-tickets button {
    background: var(--accent-color);
    border-radius: 5px;
    border: none;
    color: var(--main-color-two);
    padding: 10px 20px;
    cursor: pointer;
}

.top-airlines {
    grid-area: line-2-2;
}

.top-airlines ol {
    list-style-type: none;
    counter-reset: my-counter;
    padding-inline-start: 10px;
}

.top-airlines li {
    width: 100%;
    margin: 10px 0;
}

.top-airlines li:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    margin-right: 5px;
}

.top-airlines a {
    text-decoration: none;
    color: #3cadfb;
}

.frequently-asked-questions {
    grid-area: line-3-2;
}

.frequently-asked-questions a {
    text-decoration: none;
    padding-left: 10px;
    color: #3cadfb;
}

.rating-airlines:before {
    content: url('https://img.icons8.com/?size=24&id=19418&format=png&color=FA5252');
}

.airline-ticket-hot-sales {
    grid-area: line-3-1;
}

.best-offers {
    grid-area: line-4-2;
    background: #bebff6;
    border-radius: 5px;
    padding: 10px;
}

.best-offers input {
    color: var(--accent-color);
    padding: 10px;
    border-radius: 5px;
}

.best-offers button {
    background: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: var(--main-color-two);
    padding: 10px;
}

.container-footer-icons {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.container-footer a {
    text-decoration: none;
    color: #3cadfb;
}

.container-footer a:after {
    content: "→";
    margin-left: 3px;
}

.affiliate-program-bth {
    background: var(--main-color-two);
    border: 1px solid #3cadfb;
    color: #3cadfb;
    padding: 10px 20px;
    cursor: pointer;
}

.google-play-bth, .app-store-bth {
    background: #000F;
    color: var(--main-color-two);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.facebook-bth, .instagram-bth, .telegram-bth {
    border: none;
    color: var(--main-color-two);
    background: var(--main-color-two);
    cursor: pointer;
}